@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


*{
    margin:0px;
    padding : 0px;
    box-sizing : border-box;
    font-family: 'Gowun Dodum', sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}


/*header*/
header{
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner{
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position : relative; /*자식 absolute 요소의 기준점 설정*/
}

header .inner h1{
    position: absolute;
    left: 0px;
    bottom: 15px;
}

header .inner h1 a img {
    max-width: 37.5%;
    height: auto;
    vertical-align: middle;
}

header .inner h1 a {
    font : bold 24px/1 " Gowun Dodum"; /*font 축약형*/
    color : #444;
}

header .inner .util{
    position: absolute;
    top: 20px;
    right: 30px;
}

header .inner .util li{
    float:left;
}

header .inner .util li a{
    display : block;
    font : 12px/1 "Gowun Dodum";
    color : #999;
    padding : 0px 10px;
}

header .inner #gnb {
    position: absolute;
    bottom:0px;
    right : 0px;
}


header .inner #gnb li{
    float:left;
}

header .inner #gnb li a{
    display: block; /*인라인 요소는 block을 설정하여 크기 조절 가능*/
    font: bold 15px/1 "Gowun Dodum";
    color:#555;
    padding : 20px 40px;
    transition : all 0.5s;
}

header .inner #gnb li a:hover{
    background : #555;
    color : #fff;
}


/* 슬라이드 */

/* 서브메뉴 스타일 */
header .inner #gnb ul.submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding-left: 12px;
    list-style: none;
    z-index: 1;
}

/* 메인 메뉴에 호버 시 서브메뉴 표시 */
header .inner #gnb li.menu:hover ul.submenu {
    display: block;
}

/* 서브메뉴 아이템 스타일 설정 */
header .inner #gnb ul.submenu li {
    padding: 0px;
}

/* 서브메뉴 아이템에 호버 시 배경색 변경 */
header .inner #gnb ul.submenu li:hover {
    background-color: #f0f0f0;
}

/* 서브메뉴 위치 조정 right 수정을 통해 메뉴 변경 가능*/
header .inner #gnb ul.submenu {
    top: 100%;
    left: 0;
    right: 75%;
}

/* 슬라이드 */


figure {
    width : 100%;
    /*height: calc(100vh-120px); /*전체 브라우저높이에서 120px 만큼 빼줌*/
    height: 100%;
    background: #000;
    position: relative;
    overflow : hidden;
    padding-top: auto;
    text-align: center;
}

figure img{
    object-fit: cover;
    width : 85%;
    height : 85%;
    opacity: 1; /*투명도*/
    position: relative;
    top : 0px;
    left : 0px;
}

figure .main_picture{
    object-fit: cover;
    width : 85%;
    height : 85%;
    opacity: 1; /*투명도*/
    position: relative;
    top : 0px;
    left : 0px;
    display: inline-block; /* 내부 요소를 인라인 블록으로 설정하여 가운데 정렬 */
    text-align: center; /* 내부 이미지를 가운데 정렬 */
}

figure .inner2{
    width : 1180px;
    position: relative;
    display: inline-block; /* 내부 요소를 인라인 블록으로 설정하여 가운데 정렬 */
    text-align: center; /* 내부 이미지를 가운데 정렬 */
}

figure .inner2 a{
    display : block;
    width : 400px;
    height :40px;
    border : 1px solid #bbb;
    font :  bold 18px/40px "Gowun Dodum";
    color : #fff;
    letter-spacing: 1px;
    transition : all 0.5s;
    margin-bottom: 30px;
    margin-left: 33%;
}

figure .inner2 a:hover {
    background: #fff;
    color : #555;
}

figure .inner{
    width : 1180px;
    margin : 0px auto;
    position: relative;
}

figure .inner h1{
    font : normal 80px/1 "Gowun Dodum";
    color : #fff;
    margin-bottom: 40px;
}

figure .inner p{
    font : 16px/1.4 "Gowun Dodum";
    color : #888;
    margin-bottom: 40px;
}

figure .inner a{
    display : block;
    width : 400px;
    height :30px;
    border : 1px solid #bbb;
    font : bold 11px/30px "Gowun Dodum";
    color : #fff;
    text-align : center;
    letter-spacing: 1px;
    transition : all 0.5s;
    margin-bottom: 30px;
}

figure .inner a:hover {
    background: #fff;
    color : #555;
}

figure a{
    display : block;
    width : 400px;
    height :30px;
    border : 10x solid #bbb;
    font : bold 11px/30px "Gowun Dodum";
    color : #fff;
    text-align : center;
}

/*news*/

section {
    width: 100%;
    padding: 100px 0px;
}

section .inner {
    width : 1180px;
    margin : 0px auto;
}

section .inner h1 {
    font: bold 24px/1 "Gowun Dodum";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}

section .inner .wrap{
    width: 100%;
}

section .inner .wrap::after{ /*자식요소의 float 해제*/
    content : "";
    display:block;
    clear:both;
}

section .inner .wrap article{
    width: 280px;
    float:left;
    margin-right : 20px;
}
section .inner .wrap article:last-child{
    margin-right: 0px;
}

section .inner .wrap article h2{
    margin-bottom : 10px;
}

section .inner .wrap article h2 a{
    font : bold 16px/1 "Gowun Dodum";
    color: #555;
}

section .inner .wrap article p {
    font : bold 14px/1 "Gowun Dodum";
    color: #555;
}

section .inner .wrap article .pic{
    width : 100%;
    height: 120px;
    background : #333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

section .inner .wrap article .pic img {
    object-fit : cover;
    width : 100%; /*pic 프레임 안에 이미지를 꽉 채움*/
    height: 100%;
}

/* map */
.mobile-map{
    text-align: center;
}

.mobile-map .wrap img{
    width: 800px;
    height: 360px;
    border-radius: 10px;
    overflow : hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 3%;
}

.mobile-map .wrap p{
    font: 22px/1 "Gowun Dodum";
    color: #555;
    text-align: center;
    margin-bottom: 3%;
}

iframe{
    margin-bottom:4.5%;
}

.mobile-map h1{
    font: bold 28px/1 "Gowun Dodum";
    color: #555;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5.8%;
}

.mobile-map h2{
    font: bold 25px/1 "Gowun Dodum";
    color: #050000;
    text-align: center;
    margin-bottom: 1%;
}

/* login */
section .login {
    font: 20px/1 "Gowun Dodum";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}

section .login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

section .login-wrapper > h2{
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}

section #login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

section #login-form > input::placeholder{
    color: #D2D2D2;
}

section #login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #555;
    margin-top: 20px;
}

section #login-form .application{
    font: 16px/1 "Gowun Dodum";
    text-align: center;
    color: #555;
    margin : auto;
}

/*schedule*/
article {
    background-color: black;
    color: white;
    height: calc(100vh - 120px);
    text-align: center;
    padding: auto; /* 내부 여백 추가 */
}

.schedule {
    padding: 40px;
}

article h3 {
    font-size: 30px;
    margin-bottom: 30px; /* 헤더와 이미지 간격 추가 */
}

article img {
    height: 70%;
    width: 70%;
}


/*footer*/
footer{
    width: 100%;
    background: #333;
    padding : 100px 0px;
    border-top: 1px solid #888;
}

footer .inner{
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper{
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 40px;
}

footer .inner .upper ::after{
    content: "";
    display : block;
    clear : both;
}

footer .inner .upper h1{
    float:left;
    font :bold 24px/1 "Gowun Dodum";
    color: #666;
}

footer .inner .upper ul{
    float : right;
}

footer .inner .upper ul li{
    float:left;
    margin-left: 20px;
}

footer .inner .upper ul li a{
    font : bold 14px/1 "Gowun Dodum";
    color: #666;
}

footer .inner .lower{
    width : 100%;
    padding-top: 20px;
}

footer .inner .lower address{
    width : 100%;
    font: 12px/1.3 "Gowun Dodum";
    color:#777;
    margin-bottom : 20px;
}

footer .inner .lower p{
    width : 100%;
    font: 12px/1 "Gowun Dodum";
    color : #777;
}